<launch>
    <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>
    <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch"/>
    <node name="repub_img" type="republish" pkg="image_transport" args="compressed in:=/raspicam_node/image raw out:=/camera/rgb/image_raw"/>
</launch>
