<launch>
    <include file="$(find turtlebot3_manipulation_bringup)/launch/turtlebot3_manipulation_bringup.launch"/>
    <include file="$(find turtlebot3_manipulation_moveit_config)/launch/move_group.launch"/>
    <node name="repub_img" type="republish" pkg="image_transport" args="compressed in:=/raspicam_node/image raw out:=/camera/rgb/image_raw"/>
    <arg name="node_start_delay" default="15"/>  
    <node name="action" pkg="q_learning_project" type="action.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"/>
</launch>
